@model IEnumerable<Processing.Web.Models.TransactionModel>
@{
    ViewData["Title"] = "Transactions Page";
}


@using (Html.BeginForm("Index", "Home", FormMethod.Get, new { }))
{
    <div>
        Currency <input name="CurrencyCode" type="text"/>
        From <input name="From" type="date"/>
        To <input name="To" type="date"/>
        Status <input name="Status" type="text"/> 
        <br/><br/>
        <input type="submit" />
    </div>
}
<br/>
<br/>
<div class="text-center">
    <table class="tbl">
        <tr>
            <th>Id</th>
            <th>Payment</th>
            <th>Status</th>
        </tr>
        @if (Model.Any())
        {
            foreach (var transaction in Model)
            {
                <tr>
                    <td>@transaction.TransactionId</td>
                    <td>@transaction.Amount @transaction.CurrencyCode</td>
                    <td>@transaction.Status</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="3">No data</td>
            </tr>
        }
    </table>
</div>